<fb:editor action="<%= url_for(:action => :update) %>"  labelwidth="100">
  <% @games.each do |game| %>
    <fb:editor-text label="<%=h game.name %>"
            name="game_code[<%=h game.id %>]"
            value="<%=h @game_codes_by_game_id[game.id].friend_code unless @game_codes_by_game_id[game.id].nil?  %>" />

    <% if @game_codes_by_game_id and @game_codes_by_game_id.has_key? game.id and not @game_codes_by_game_id[game.id].errors.empty? %>
      <fb:editor-custom>
        <fb:error>
          <fb:message>Could not update friend code</fb:message>
          <ul style="font-size: 0.7em; font-weight: normal; padding: 0 0 0 32px; margin: 0;">
            <% @game_codes_by_game_id[game.id].errors.each_full do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </fb:error>
      </fb:editor-custom>
    <% end %>
  <% end %>

  <fb:editor-buttonset>
    <fb:editor-button value="Save" />
    <fb:editor-cancel href="<%= url_for(:action => :index) %>" />
  </fb:editor-buttonset>
</fb:editor>



